@-webkit-keyframes masked-animation {
	0% { background-position: 0 0;} 
	00% {background-position: -8000px -3000px;}
  }

.met {
  text-align: center;
	color: #000;
	max-width: 700px;
	background: rgba(255,253,160,1);
	background: -webkit-linear-gradient( left, #dfdfdf 0%, #a3a3a3 25%, #757575 50%, #494949 100% ) repeat;
	border-color: -webkit-linear-gradient( left, #dfdfdf 0%, #a3a3a3 25%, #757575 50%, #494949 100% ) repeat;
  text-shadow: 0px 0px 10px -webkit-linear-gradient( left, #dfdfdf 0%, #a3a3a3 25%, #757575 50%, #494949 100% ) repeat;
	-webkit-background-clip: text;
	-ms-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-ms-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	text-fill-color: transparent;
	-webkit-animation-name: masked-animation;
	-webkit-animation-duration: 200s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.hugeUpdTitle {
  text-align: center;
	color: #000;
	max-width: 700px;
	background: rgba(255,253,160,1);
	background: -webkit-linear-gradient( left, #d5c42a 0%, #98b32b 25%, #41b21e 50%, #1fa11d 100% ) repeat;
	border-color: -webkit-linear-gradient( left, #d5c42a 0%, #98b32b 25%, #41b21e 50%, #1da13e 100% ) repeat;
  text-shadow: 0px 0px 10px -webkit-linear-gradient( left, #d5c42a 0%, #98b32b 25%, #41b21e 50%, #1da13e 100% ) repeat;
	-webkit-background-clip: text;
	-ms-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-ms-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	text-fill-color: transparent;
	-webkit-animation-name: masked-animation;
	-webkit-animation-duration: 150s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#loadingSection {
	z-index: 1000000;
	background-color: #003f00;
}

#app {
	opacity: 0;
	animation: appZoom 1s forwards .2s;
}

.author {
	text-shadow: 0px 0px 10px #009900;
	color: #009900;
}

.author:hover {
	text-shadow: 0px 0px 20px #00aa00;
	cursor: pointer;
	color: #00aa00;
}

@font-face {
	font-family: "Roboto";
	src: url("assets/Roboto-Medium.woff");
}

@keyframes appZoom {
	0% {
		scale: 0.9;
		opacity: 0;
	}
	100% {
		scale: 1;
		opacity: 1;
	}
}