.hoverBox {
	position: fixed;
	top: 100vh;
	left: 10px;
	transform: translateY(calc(-100% - 10px));
	padding: 5px;
	background: rgba(0, 75, 0, 0.6);
	border-radius: 5px;
	border: 3px solid rgba(125, 255, 125, 0.6);
}


#optionWheel {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#optionWheel:hover {
	transform: rotate(1turn);
}

#info {
	font-size: 20px;
	color: white;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	transition-duration: .2s;
}

#info:hover {
	scale: 1.1;
}

#credits {
	color: white;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	transition-duration: .2s;
}

#credits:hover {
	scale: 1.1;
}

#discord {
	width: 40px;
	height: 40px;
	margin-top: 5px;
	transition-duration: .2s;
}

#discord:hover {
	scale: 1.1;
}

#version {
	font-size: 22px;
	position: absolute;
	left: 4px;
	top: 4px;
	text-align: left;
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
	cursor: pointer;
}

#version:hover {
	transform: scale(1.1, 1.1);
	top: 4.8px;
	left: 4.8px;
}

a {
	color: #0099ff;
	text-decoration-line: none;
	cursor: pointer
}

.link {
	display: block;
	font-size: 20px;
	color: #2b99c1;
	cursor: pointer;
	font-family: "Lucida Console", "Courier New", monospace;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #2b99c1;
	text-decoration: none;
}

.link:hover {
	color: #1366da;
	transform: scale(1.2, 1.2);
	text-shadow: 5px 0 10px #1366da,
              -3px 0 12px #1366da;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #1366da;
}